.container {
    display: flex;
    align-items: center;
  }
  
  .count {
    margin: 0 10px;
    font-size: 18px;
  }
  
  .button {
    background-color: #ffaf01; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #ffaf01; 
    text-shadow: 2px 2px 4px rgba(204, 185, 16, 0.493);
    box-shadow: 0 4px 8px rgba(194, 115, 11, 0.623); 
  }
  