
.controls {
  display: flex;
  align-items: center; 
  border-radius: 10px;
}

.number {
  margin: 10px; 
  background-color: #c4c0c0cc;
  padding: 10px;
  border-radius: 10px;
}

.button {
  background-color: #007bffa9;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 10px;
}



.button:hover {
  background-color: #0056b3;
}

.fa-minus,
.fa-plus {
  font-size: 10px;
  margin: 0 5px;
  padding: none;
  
}

.addToCart {
  margin-top: 10px;
}
