.main {
  background-color: #91878767;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  flex-wrap: wrap; 
  border-radius: 10px;
}
.card {
  background-color: #2877d15b;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px; 
  width: 300px;
  transition: box-shadow 0.3s;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
